
<div class="container">
<!-- As a heading -->

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav> -->
<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Tor Chat</a>
  <span class="online">{{online}}-online</span>
  <button type="button" class="btn btn-success" (click)="openModal(template)">Donate</button>
</nav>


  <!-- nav end-->
    <div >
<div class="chat"   >
  <div *ngFor="let ms of messeges;" class="{{ms.classs}} messages">
    <div class="message" *ngIf="ms.isadmin==false">
   <span class="uuid font-weight-bold" *ngIf="ms.user!=from"  [style.color]="ms.color">{{ms.user}}::</span>  <span class="alignRight" [innerHTML]="ms.msg|linkify"></span>
     </div>
     <div class="admin message text-center" *ngIf="ms.isadmin">
        <span class="alignRight" [innerHTML]="ms.msg|linkify"></span>
     </div>
  </div>
  
  
</div>
    </div>
    <div>
      <form>
        <div class="input-group  px-3 fixed-bottom shadow-lg p-3 bg-white rounded">
            <input type="text" class="form-control" placeholder="Type Here" aria-label="Recipient's username" name="msgg" [(ngModel)]="msgg" maxlength="240" recipient.username aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit" (click)="sendMsg()">Send</button>
            </div>
          </div>
        </form>
    </div>
<!-- modal start-->



    <!-- modal end-->
</div>

<div>
  <ng-template #template>
    <div class="modal-header px-3">
       <h5 class="modal-title pull-left">Donate and save this Site</h5>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
      <div class="div">  <img src="assets/images/qrcode.png" class="rounded mx-auto d-block py-4" ></div>
      <div class="mb-2 ">
          <div class="text-center"><p class="bt-add ">bc1qlkcwcc5t8jlql8t3gzghldnvrjh3xced4fza3y</p></div></div>
      <div class="text-center">
          <button class="py-2 px-3 btn btn-primary" ngxClipboard [cbContent]="'bc1qlkcwcc5t8jlql8t3gzghldnvrjh3xced4fza3y'">Copy</button>
      </div>

      <div class="my-2 ">
        <div class="text-center"><p class="bt-add ">Contact torchat666@protonmail.com</p></div></div>
   

    </div>
    <div class="modal-footer">
       
       <button type="button" class="btn btn-danger px-2 py-2 m-2" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>
</div> 